.Button {
  padding: 12px;
  border: none;
  background: #413b89;
  color: aliceblue;
  box-shadow: 2px #d3d1ed;
  line-height: 15px;
}

.ButtonActive {
  background: #de7657;
  padding: 12px;
  border: none;
  color: aliceblue;
  line-height: 15px;
}
