.OnePlayer {
  display: grid;
  grid-template-columns: 2fr 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 0px 0px;
  background: #f3e7dd;
  gap: 0px 49px;
}

.PlayerScore {
  text-align: center;
}
